.App{
  display: flex;
  flex-direction: row;
  justify-content: center; 
  background-color: #fff;

  width: 100%;
  height: 900px;
  top: 0px;
  
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}


.boite1{
  width: 15%;
  min-width: 250px;
  position: absolute;

  top: 0;
  left: 0;
  bottom: 0;

  background-color: rgb(0,78,78);

  word-wrap: break-word;

}


.boite2{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 60%;
  min-width: 50%;
  height: 930px;

  top: 0;
  margin:0px;

  border-left: 2px black solid;
  border-right: 2px black solid;

  background-color: rgb(237, 246, 247);

  word-wrap: break-word;
}

.TableGraph{
  width: 90%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.boxGraph1{
  width: 70%;
  height: 350px;
  border-right: 1px black solid;
}

.boxGraph2{
  width: 30%;
  height: 350px;
  border-left: 1px solid black;
}