.photoStyle{
    width: 250px;
    height: 250px;
}

.boxBanner{
    width: 100%;
    margin-top : 25px;
    margin-bottom: 25px;
    border-bottom: 1px rgb(0,43,43) solid;

}

.lienBanner{
    color:white;
    font-size: 30px;
    text-decoration: none;
}

.lienBanner:hover{
    color: rgb(143,33,66);
}