.zoneTitre{
    border: 2px black solid;
    width: 90%;
}

.zoneData{
    border: 1px black solid;
    width: 90%;

    display: flex;
    flex-direction: row;
}

.zoneDataBoite{
    border: 1px black solid;
    width: 50%
    ;
}